@page
@model CRUD2._5.Pages.emps.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Fname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Fname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Lname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Lname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employees.Depts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employees.Depts.DID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employees.EID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
