@page
@model CRUD2._5.Pages.emps.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees[0].Depts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depts.DID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
